body { background: #443b34 url(../img/body-bg_red.gif) repeat; color: #333; }
a { color: #b30000; text-decoration:underline; }
a:hover { color: #333; }
h1, h3 { color: #570e00; }
h1 a, h3 a, #content h3 a { color: #b30000; }
h1 a:hover, h3 a:hover, #content h3 a:hover { color: #333; }
h2 { color: #570e00; }
h2 a { color: #570e00; }
h2 a:hover { color: #333; }
h3 a { color: #333; }
#sidebar h2 { color: #b30000; border-bottom:1px solid #b8b7af; }
#sidebar h3 { border-bottom:1px dotted #a09e8c; color:#b30000;  }
#header { background:url(../img/headerbg_red.gif) repeat-x; }
#header-in .title a { color: #e8e5cc; }
#header-in .title a:hover { color: #FFF; }
#header-in .description { color: #d27318; }

#nav li { background: url(../img/nav_red.gif) top left no-repeat; }
#nav ul li:hover, #nav ul li.current_page_item { background: url(../img/nav-active_red.gif) top left no-repeat; color: #ff4e2c; }
#nav ul li:hover a, #nav ul li.current_page_item a { color: #fff; background: url(../img/nav-active_red.gif) top right no-repeat; }
#nav ul li a { color: #560e00; background: url(../img/nav_red.gif) top right no-repeat; }
#nav ul li a:hover { color: #fff; background: url(../img/nav-active_red.gif) top right no-repeat; }

#container { background:url(../img/container-cbg_red.gif) top repeat-y; border: 0px solid black; }
.container-top { background:url(../img/container-bg_red.gif) top left no-repeat; }
.container-bottom { background: url(../img/container-bottom_red.gif) no-repeat; }
#content a { color: #b30000; }
#content a:hover { color: #333;}

 #r_sidebar ul li ul li { border-bottom: 1px dotted #b8b7af; background: url(../img/bullet-arrow3.gif) 0 10px no-repeat; }
 #r_sidebar ul li ul li a { color: #333; }
 #r_sidebar ul li ul li a:hover { color:#b30000; }
 #r_sidebar ul li ul li ul li { border-bottom: 1px solid #b8b7af; /*IE Bug Fix */ background:none; }
 #r_sidebar ul li ul li ul li a { color: #333; }
 #r_sidebar ul li ul li ul { border: none; }

#footer { color: #787878; }
.copyright a { color: #787878; }
.copyright a:hover { color: #000; }
ul#nav-footer li a { color: #b30000; }
ul#nav-footer li a:hover { color: #333; }
